---
layout: default
title: Home
---
<!-- ========== BIO ========== -->
<div class="docs-section" id="bio">
  <h4>Bio</h4>
  Hi, Im Jiashuo! I'm a final-year Ph.D. candidate in the Department of Computer Science & Technology at Tsinghua University, advised by <a href="http://pengcui.thumedialab.com"><u>Prof. Peng Cui</u></a> and <a href="https://www.sem.tsinghua.edu.cn/en/info/1219/6985.htm"><u>Prof. Bo Li</u></a>. 
  I was a visiting student researcher at  <a href="https://www.vanderschaar-lab.com"><u>Prof. Mihaela van der Schaar</u></a>'s group at Cambridge Centre for AI in Medicine, and <a href="https://web.stanford.edu/~jblanche/"><u>Prof. Jose H. Blanchet</u></a>'s group at Stanford MS&E.
  I also work remotely with <a href="https://hsnamkoong.github.io"><u>Prof. Hongseok Namkoong</u></a> and <a href="https://www.columbia.edu/~khl2114/"><u>Prof. Henry Lam</u></a> at Columbia University.
    
 <br><br>I develop robust, reliable, and fair machine learning models, with a particular focus on addressing <u><b>distribution shifts</b></u>, and bridge the fields of <u><b>machine learning</b></u>, <u><b>operations research</b></u>, <b><u>causal inference</b></u>, and <u><b>healthcare</b></u>. My research centers on advancing model adaptability and accuracy in response to real-world variability, with key interests in:
 <br> <b>(1) Inductive ways to understand distribution shifts</b>: Identify safe & risk regions (<a href="https://arxiv.org/abs/2307.05284">NeurIPS'23</a>), measure LLM stability under perturbations (<a href="">NeurIPS'24</a> Red Teaming GenAI), measure model & feature stability under shifts (<a href="https://arxiv.org/abs/2405.03198.pdf">ICML'24</a>).
 <br><b>(2) Data-Centric ML for distribution shifts</b>: Quantify data heterogeneity (<a href="https://openreview.net/pdf?id=g2oB_k-18b">ICLR'23</a>, R&R at JMLR), large-scale benchmarks for tabular distribution shifts (<a href="https://arxiv.org/abs/2307.05284">NeurIPS'23</a>).
 <br><b>(3) Methodology-Centric ML for distribution shifts</b>: LLM embeddings for better adaptability to shifts (<a href="https://www.arxiv.org/pdf/2410.07395">NeurIPS'24</a> Table Representation Learning), Geometry-aware distributionally robust optimization (<a href="https://arxiv.org/pdf/2311.05054.pdf">ICML'24</a>, <a href="https://proceedings.neurips.cc/paper_files/paper/2022/file/da535999561b932f56efdd559498282e-Paper-Conference.pdf">NeurIPS'22</a>, <a href="https://ieeexplore.ieee.org/document/9961896">TKDE</a>, <a href="https://ojs.aaai.org/index.php/AAAI/article/view/17050">AAAI'21</a>), Heterogeneity-aware invariant learning (<a href="https://arxiv.org/pdf/2206.02990">AISTATS'24</a>, <a href="http://proceedings.mlr.press/v139/liu21h/liu21h.pdf">ICML'21</a>, <a href="https://arxiv.org/pdf/2110.12425">NeurIPS'21</a>).

 <br><br>For more of my research, please refer to our <a href="https://drive.google.com/file/d/1QEsHWNK42-USisUSkld_f7UXs9z7_M1E/view?usp=sharing">NeurIPS'23 Tutorial</a>, <a href="./assets/CoLLAs2024.pdf">SDM'24 Tutorial</a>, and <a href="./assets/CoLLAs2024.pdf">CoLLAs'24 Tutorial</a>.
</div>


<!-- ========== NEWS ========== -->
<div class="docs-section" id="tutorials">
  <h4>Invited Talks</h4>

  {% assign selected_papers = site.data.news.talks | where: "selected", "y" %}
  {% assign length = selected_papers | size %}
      {% for paper in selected_papers %}
        <div class="paper">
          <p class="title"><b>[{{ length | minus: forloop.index0}}] {{ paper.title }}</b></p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
           <div class="paper-buttons">
            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}
            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}
            {% if paper.media %}
              <a class="button" href="{{ paper.media }}" target="_blank">Media</a>
            {% endif %}

          </div>
        </div>
      {% endfor %}

</div>


<!-- ========== PUBLICATIONS ========== -->
<div class="docs-section" id="publications">
  <h4>Publications</h4>

  <p>Most recent publications on <a href="{{ site.data.main_info.google_scholar }}" target="_blank">Google Scholar</a>. * denotes equal contributions.
  </p>

  <ul class="tab-nav">
    <li><div class="button active" data-ref="#papers-selected">Selected</div></li>
    <li><div class="button" data-ref="#papers-all">All</div></li>
    <li><div class="button" data-ref="#papers-mldm">DistShift</div></li>
    <li><div class="button" data-ref="#papers-aied">Data-Centric</div></li>
    <li><div class="button" data-ref="#papers-dro">Methodology</div></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="papers-selected">
      {% assign selected_papers = site.data.publications.papers | where: "selected", "y" %}
      {% assign length = selected_papers | size %}
      {% for paper in selected_papers %}
        <div class="paper">
          <p class="title"><b>[{{ length | minus: forloop.index0}}] {{ paper.title }}</b></p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
           <div class="paper-buttons">
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">Paper</a>
            {% endif %}

            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}

            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}

            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}

            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}

            {% if paper.data %}
              <a class="button" href="{{ paper.data }}" target="_blank">Data</a>
            {% endif %}
            
            {% if paper.package %}
              <a class="button" href="{{ paper.package }}" target="_blank">Python Package</a>
            {% endif %}

            {% if paper.media %}
              <a class="button" href="{{ paper.media }}" target="_blank">Media</a>
            {% endif %}

          </div>
        </div>
      {% endfor %}
    </div>

    <!-- ML+DM PAPERS -->
    <div class="tab-pane" id="papers-mldm">
      {% assign distshift_papers = site.data.publications.papers | where: "distshift", "y" %}
      {% assign length = distshift_papers | size %}
      {% for paper in distshift_papers %}
        <div class="paper">
          <p class="title"><b>[{{ length | minus: forloop.index0}}] {{ paper.title }}</b></p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
           <div class="paper-buttons">
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">Paper</a>
            {% endif %}

            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}

            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}

            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}

            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}

            {% if paper.data %}
              <a class="button" href="{{ paper.data }}" target="_blank">Data</a>
            {% endif %}
            
            {% if paper.package %}
              <a class="button" href="{{ paper.package }}" target="_blank">Python Package</a>
            {% endif %}

            {% if paper.media %}
              <a class="button" href="{{ paper.media }}" target="_blank">Media</a>
            {% endif %}

          </div>
        </div>
      {% endfor %}
    </div>


    <!-- AIED PAPERS -->
    <div class="tab-pane" id="papers-aied">
      {% assign heterogeneity_papers = site.data.publications.papers | where: "heterogeneity", "y" %}
      {% assign length = heterogeneity_papers | size %}
      {% for paper in heterogeneity_papers %}
        <div class="paper">
          <p class="title"><b>[{{ length | minus: forloop.index0}}] {{ paper.title }}</b></p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
           <div class="paper-buttons">
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">Paper</a>
            {% endif %}

            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}

            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}

            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}

            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}

            {% if paper.data %}
              <a class="button" href="{{ paper.data }}" target="_blank">Data</a>
            {% endif %}
            
            {% if paper.media %}
              <a class="button" href="{{ paper.media }}" target="_blank">Media</a>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>

     <!-- AIED PAPERS -->
     <div class="tab-pane" id="papers-dro">
      {% assign dro_papers = site.data.publications.papers | where: "dro", "y" %}
      {% assign length = dro_papers | size %}
      {% for paper in dro_papers %}
        <div class="paper">
          <p class="title"><b>[{{ length | minus: forloop.index0}}] {{ paper.title }}</b></p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
           <div class="paper-buttons">
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">Paper</a>
            {% endif %}

            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}

            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}

            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}

            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}

            {% if paper.data %}
              <a class="button" href="{{ paper.data }}" target="_blank">Data</a>
            {% endif %}

            {% if paper.media %}
              <a class="button" href="{{ paper.media }}" target="_blank">Media</a>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>


    <div class="tab-pane" id="papers-all">
      {% assign all_papers = site.data.publications.papers %}
      {% assign length = all_papers | size %}
      {% for paper in site.data.publications.papers %}
        <div class="paper">
          <p class="title"><b>[{{ length | minus: forloop.index0}}] {{ paper.title }}</b></p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
           <div class="paper-buttons">
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">Paper</a>
            {% endif %}

            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}

            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}

            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}

            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}

            {% if paper.data %}
              <a class="button" href="{{ paper.data }}" target="_blank">Data</a>
            {% endif %}

            {% if paper.media %}
              <a class="button" href="{{ paper.media }}" target="_blank">Media</a>
            {% endif %}

          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>




<!-- ========== Achievements ========== -->
<div class="docs-section" id="achievements">
  <h4>Achievements</h4>

  <ul class="tab-nav">
    <li><div class="button active" data-ref="#achievements-awards">Awards</div></li>
    <li><div class="button" data-ref="#achievements-chinapatents">China Patents</div></li>
  </ul>

  <div class="tab-content">

    <div class="tab-pane active" id="achievements-awards">
      {% assign awards = site.data.achievements.awards | where: "awards", "y" %}
      {% for paper in awards %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b> <b>{{paper.rate}}</b>, {{ paper.subtitle}}</p>
        </div>
      {% endfor %}
    </div>

    <!-- China Patents -->
    <div class="tab-pane" id="achievements-chinapatents">
      {% assign china_patents = site.data.achievements.awards | where: "china_patent", "y" %}
      {% for paper in china_patents %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b></p>
          <p>{{ paper.patent_no }}, {{ paper.date }}</p>
          
          {% if paper.certificate %}
              <a class="button" href="{{ paper.certificate | prepend: site.baseurl }}" target="_blank">Certificate</a>
            {% endif %}
        </div>
      {% endfor %}
    </div>

  </div>
</div>




<!-- ========== Services ========== -->
<div class="docs-section" id="services">
  <h4>Services</h4>

  <b>Journal reviewer</b>: Operations Research, IEEE Transactions on Pattern Analysis and Machine Intelligence (TPAMI), IEEE Transactions on Knowledge and Data Engineering (TKDE), IEEE Transactions on Multimedia (TMM)
  <br><br>
  <b>Conference reviewer / Program committee</b>: ICLR (2025, 2024), NeurIPS (2024, 2023), NeurIPS Datasets & Benchmark (2024), ICML (2024,2023,2022), UAI (2024,2023,2022), AAAI (2022), IJCAI (2023,2022), CVPR (2024,2023, 2022), ECCV (2024), ICCV (2023), CoLLAs (2024,2023,2022), AISTATS (2025,2024,2023,2021), ICDM (2024), NeurIPS DistShift (2023)
  <br><br>
  <b>Teaching</b>:
  <br>Machine Learning Summer Camp for Primary & Middle School Students at Cambridge University (Summer 2024, with Prof. Mihaela van der Schaar)
  <br>Software Engineering at Tsinghua University (Fall 2019, 2020, 2021, 2022, Spring 2022, 2023 TA)
  <br>Object-oriented Programming at Tsinghua University (Summer 2022, TA)
</div>


<!-- ========== RESUME ==========  -->
<div class="docs-section" id="resume">
  <h4>Vitæ</h4>

  <p>Full Resume in <a href={{ "/assets/jiashuo_cv_latest.pdf" | prepend: site.baseurl }} target="_blank">PDF</a>.</p>

  <ul class="timeline">
    {% for exp in site.data.experience.experiences %}
    <li>
      {% if exp.category == "work" %}
      <div class="direction-l">
      {% else %}
      <div class="direction-r">
      {% endif %}
        <div class="flag-wrapper">
          <span class="flag">{{ exp.place }}</span>
          <span class="time-wrapper"><span class="time">{{ exp.time }}</span></span>
        </div>
        <div class="desc"><b>{{ exp.title }}</b> <br/> {{ exp.subtitle }}</div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>



